* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 30px;
  background-color: lightblue;
}
.back {
  text-decoration: none;
}
.book {
  margin-top: 20px;
  margin-bottom: 5px;
}
table {
  width: 100%;

  margin: 0 auto;
  background-color: white;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the table header */
th {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 10px;
}

/* Style the table rows */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Style the input fields and select boxes */
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the "Calculate" button */
#calculate-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style the grand total input field */
#grand-total-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bold;
}

/* Apply styles for small screens (adjust as needed) */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
  body {
    padding: 0px;
  }

  input[type="text"],
  input[type="number"],
  select {
    padding: 6px;
  }

  #calculate-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
